@model ProfessionalPartnerships.Web.Models.AdminViewModels.Enrollments.EnrollmentsListViewModel

<link href="~/css/font-awesome.min.css" rel="stylesheet" />

@{
	ViewBag.Title = "Manage Enrollments";
	Layout = "_Layout";
}

<div class="clearfix">
	<div>
		<h2>@ViewData["Title"]</h2>
	</div>
	
	<br/>

	<div class="form-group">
		<a href="@Url.Action("Edit", "Enrollments")" class="btn btn-success">
			<i class="fa fa-plus"></i>
			Add New
		</a>
	</div>
</div>

<br/>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Student Name</th>
				<th scope="col">Semester</th>
				<th scope="col">Program Name</th>
				<th scope="col">Current Status</th>
				<th scope="col"></th>
			</tr>
		</thead>

		<tbody>
			@if (!Model.Any())
			{
				<tr>
					<td colspan="5"><em>There are currently no enrollments in the system.</em></td>
				</tr>
			}
			@foreach (var enrollment in Model.OrderBy(e => e.EnrollmentStatusId).ThenBy(e => e.StudentName))
			{
				<tr>
					<th scope="row">
						@enrollment.StudentName
					</th>
					<td>
						@enrollment.Semester
					</td>
					<td>
						@enrollment.ProgramName
					</td>
					<td>
						@enrollment.EnrollmentStatusName
					</td>
					<td>
						<a class="btn btn-primary" href="@Url.Action("Edit", "Enrollments", new { enrollmentId = enrollment.EnrollmentId})">
							<i class="fa fa-edit"></i>
							Edit
						</a>
						<a class="btn btn-danger" href="@Url.Action("Delete", "Enrollments", new { enrollmentId = enrollment.EnrollmentId})">
							<i class="fa fa-trash"></i>
							Delete
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
