@model IEnumerable<ProfessionalPartnerships.Web.Models.AdminViewModels.ProgramsViewModel>

@{
    ViewData["Title"] = "Manage Programs";
}

<h2>Programs</h2>

<p>
    <a asp-action="CreateProgram">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProgramTypeName)</th>
            <th>@Html.DisplayNameFor(model => model.SemesterName)</th>
            <th>@Html.DisplayNameFor(model => model.PointOfContactName)</th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailabilityDate)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaximumStudentCount)
                </th>*@
                <th width="50%">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.IsApproved)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProgramTypeName)</td>
            <td>@Html.DisplayFor(modelItem => item.SemesterName)</td>
            <td>@Html.DisplayFor(modelItem => item.PointOfContactName)</td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumStudentCount)
            </td>*@
            <td width="50%">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "EditProgram", new { id=item.ProgramId }) |
                @Html.ActionLink("Details", "ProgramDetails", new {  id=item.ProgramId  }) |
                @Html.ActionLink("Delete", "DeleteProgram", new {  id=item.ProgramId })
            </td>
        </tr>
}
    </tbody>
</table>
