@model  ProfessionalPartnerships.Web.Models.AdminViewModels.SearchUserViewModel

@{
    ViewBag.Title = "Search Users";
    Layout = "_Layout";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewData["Message"]</h3>

<form method="post" action="@Url.Action("SearchUsers", "Admin")">
   
    <div class="form-group" style="width:300px;">
        <label asp-for="SelectRole" class="control-label"></label>
        @Html.DropDownListFor(m=>m.SelectRole,Model.Roles,"-Select Role-",new { @class="form-control"})

        <span asp-validation-for="SelectRole" class="text-danger"></span>
    </div>
  
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="IsActive">
                <input asp-for="IsActive" />
                @Html.DisplayNameFor(m => m.IsActive)
            </label>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default" id="Search">Search</button>
    </div>
    <div>
        <table class="table table-bordered" >
            <tr class="row">

                <th scope="col">UserName</th>
                <th scope="col">Email Address</th>
                <th scope="col">IsActive</th>
                <th scope="col">Edit</th>
            </tr>

            @foreach (var User in Model.AllUsers)
            {
            <tr class="row">


                <td>@User.UserName</td>
                <td>@User.Email</td>
                <td>@User.IsActive</td>
                <td>@Html.ActionLink("Edit", "EditUser", "Admin", new { userId = @User.UserID, rolename = @User.RoleName }, null)</td>
                @*@Html.Hidden("HRoleName", @User.RoleName)*@
                
            </tr>
            }

        </table>
    </div>
</form>
  
  


