@model  ProfessionalPartnerships.Web.Models.AdminViewModels.SearchUserViewModel

@{
    ViewBag.Title = "Search Users";
    Layout = "_Layout";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewData["Message"]</h3>

<form method="post" action="@Url.Action("SearchUsers", "Admin")">
   
    <div class="form-group">
        <label asp-for="SelectRole" class="control-label"></label>
        @Html.DropDownListFor(m=>m.SelectRole,Model.roles,"-Select Role-",new { @class="form-control"})

        <span asp-validation-for="SelectRole" class="text-danger"></span>
    </div>
  
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="IsActive">
                <input asp-for="IsActive" />
                @Html.DisplayNameFor(m => m.IsActive)
            </label>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default">Search</button>
    </div>
    <div>
        <table class="table table-bordered" >
            <tr class="row">
                <th scope="col">UserID</th>
                <th scope="col">UserName</th>
                <th scope="col">Email Address</th>
            </tr>

            @foreach (var User in Model.Applicationuser)
            {
                <tr class="row">
                    <td>@User.Id</td>
                    <td>@User.UserName</td>
                    <td>@User.Email</td>
                    @*<td>@User.IsActive</td>*@

                </tr>
            }

        </table>
    </div>
</form>
  
  


@section Scripts {
    <script>
      
    </script>
}