@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using ProfessionalPartnerships.Web.Services.Interface
<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserAuthorizationService UserAuthorizationService
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProfessionalPartnerships</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/css/dashboard.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Professional Partnerships</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home/Dashboard">Dashboard</a></li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li><a href="/Manage/Index">Hello @UserManager.GetUserName(User)!</a> </li>
                            <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </form>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                @if (User.IsInRole("Student"))
                {
                    <ul class="nav nav-sidebar">
                        <li><a href="/Student/Programs">My Programs</a></li>
                    </ul>
                }
                @if (User.IsInRole("Administrator"))
                {
                    <ul class="nav nav-sidebar">
                        <li><a href="/Admin/ManageUsers">Manage Users</a></li>
                        <li><a href="/Companies/List">Manage Companies</a></li>
                        <li><a href="/Admin/Programs">Manage Programs</a></li>
                        <li><a href="/ManageSystem/">Manage System</a></li>
                        <li><a href="">Manage Reviews</a></li>
                        <li><a href="">Manage Connections</a></li>
                    </ul>
                }
                @if (User.IsInRole("Professional"))
                {
                    <ul class="nav nav-sidebar">
                        @if (UserAuthorizationService.IsUserAuthorizedToManageUsers(User))
                        {
                            <li><a href="/ProfessionalDashboard/ManageUsers">Manage Users</a></li>
                        }
                        <li><a href="/ProfessionalDashboard/Programs">My Programs</a></li>
                    </ul>
                }
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>

            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/react/dist/react.js"></script>
      <script src="~/lib/react/dist/react-dom.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

            <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
