@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
	ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
	<div class="col-md-6 col-md-offset-2">
		<section>
			<h4>You can use your google account to login.  Click on the button below to finalize your registration. </h4>
			<hr />
			@{
				var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
				if (loginProviders.Count == 0)
				{
					<div>
						<p>
							There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
							for details on setting up this ASP.NET application to support logging in via external services.
						</p>
					</div>
				}
				else
				{
				    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
				        <input type="hidden" name="id" value="@Model.InvitationCode"/>
				        <div>
				            <p>
				                @foreach (var provider in loginProviders)
				                {

				                    <button type="submit" class=" btn-@provider.DisplayName.ToLower()" name="provider" value="@provider.Name">
				                        <i class="fa fa-@provider.DisplayName.ToLower()"></i> Sign in using @provider.DisplayName
				                    </button>

				                }
				            </p>
				        </div>
				    </form>
				}
			}
		</section>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
