@model ProfessionalPartnerships.Web.Models.ProfessionalViewModels.MyProgramsViewModel
@{
    ViewBag.Title = "Professinal Dashboard - My Programs";
    Layout = "_Layout";
}
<h2>My Programs</h2>
<div class="row">
    <div class="panel panel-default top-buffer">
        <div class="panel-heading">Programs for @Model.FirstName @Model.LastName</div>
        <div class="panel-body">
            <div class="">
                <div class="btn-group">
                    <a href="CreateProgram">
                        <button type="button" class="btn btn-success dropdown-toggle">
                            <span class="glyphicon glyphicon-plus"></span> Create Program
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Program</th>
                <th>Semester</th>
                <th>Availability Date</th>
                <th>Students Enrolled</th>
                <th>Open Applicants</th>
                <th>Is Approved</th>
                <th>Is Active</th>
                <th>Edit</th>
            </tr>
            @foreach (var program in Model.Programs)
            {
                <tr>
                    <td>@program.ProgramType (@program.StartDate - @program.EndDate)</td>
                    <td>@program.Semester</td>
                    <td>@program.AvailabilityDate</td>
                    <td>@program.CurrentStudents / @program.MaximumStudents</td>
                    <td>@program.CurrentApplications</td>
                    <td>
                        @if (program.IsApproved)
                        {
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        }
                    </td>
                    <td>
                        @if (program.IsActive)
                        {
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        }
                    </td>
                    <td><a href="EditProgram/@program.ProgramId"><button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button></a></td>
                </tr>
            }
        </table>
        @if (!Model.Programs.Any())
        {
            <div class="text-center">

                <h3> You don't have any programs at this time.</h3>
            </div>
        }
    </div>
</div>

